// Screen size variables
$small-phones: 350px;
$phones: 450px;
$phones-landscape: 820px;
$tablets: 780px;
$tablets-landscape: 1050px;
$tablets-pro: 1400px;

// Mixins
@mixin responsive($size) {
    @media (max-width: $size) {
        @content;
    }
}