// Fonts - Typography
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Josefin Sans', sans-serif;

// Colors
$main-color: #555;
$secondary-color: #000;
$almost-white: #9B9B9B;
$white: #FFF;
$light-white: #F2F2F2;
$light-grey: #4A4A4A;
$grey: #666;
$semi-grey: #444;
$pure-grey: #CCC;
$light-red: #642832;
$red: #59232C;
$black: #000;