/* 

Title: Snowflake Boilerplate
Author: Marcelo Glacial
Author URL: http://marceloglacial.com
Starts on: 09/05/2017

*/


/* General  
=======================================================
*/

body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
    text-overflow: ellipsis;
}


/* 
Hero 
=======================================================
*/

header {
    background: url("../img/hero-bg.png") no-repeat center top #F2F2F2;
    background-size: cover;
    height: 650px;
    position: relative;
}

#logo {
    background: url("../img/logo-white.png") no-repeat top center;
    background-size: contain;
    height: 200px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}

#logo h1,
#logo p {
    display: none;
}

#services {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
}

#services ul {
    list-style: none;
    background: #FFF;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0px 2px 70px #666;
    font-weight: 900;
    font-size: 130%;
}

#services ul li {
    text-align: center;
    padding: 90px 0 30px 0;
}

#services .auto {
    background: url("../img/service-item-auto.png") no-repeat center 40px;
    background-size: 45px;
}

#services .home {
    background: url("../img/service-item-home.png") no-repeat center 40px;
    background-size: 55px;
}

#services .business {
    background: url("../img/service-item-business.png") no-repeat center 40px;
    background-size: 65px;
}


/* 
About Us 
=======================================================
*/

#about-us #moto {
    background: url("../img/about-us-bg.png") no-repeat center bottom;
    background-size: cover;
    height: 600px;
    position: relative;
}

#about-us article {
    text-align: center;
    font-weight: 100;
    font-size: 120%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}

#about-us h2 {
    font-weight: 700;
    font-size: 400%;
    letter-spacing: -4px;
}

#about-us #team {
    margin: 150px auto;
    width: 90%;
}

#about-us #team figure {
    position: relative;
}

#about-us #team div:last-child {
    margin-top: 80px;
}

#about-us #team img {
    box-shadow: 0px 2px 20px #666;
    padding: 0;
    max-width: 300px;
}

#about-us #team figcaption {
    background: #FFF;
    margin-top: 40px;
    left: -40px;
    height: 280px;
    overflow: hidden;
    padding: 20px 0 0 40px
}

#about-us #team h3 {
    font-weight: 700;
    font-size: 220%;
    letter-spacing: -2px;
}

#about-us #team p {
    font-weight: 200;
    line-height: 2em;
    color: #444;
}


/* 
Contact Us
=======================================================
*/

#contact-us #form {
    background: url("../img/contact-bg.png") no-repeat top right;
    background-size: cover;
    background-attachment: fixed;
}

#contact-us #form form {
    margin: 100px auto 120px auto;
    width: 88%;
}

#contact-us #form h2 {
    font-weight: 700;
    font-size: 420%;
    letter-spacing: -4px;
    color: #FFF;
    margin-bottom: -15px;
}

#contact-us .form-group {
    clear: both;
    padding: 0;
    margin: 0 0 20px 0;
}

#contact-us #form input,
#contact-us #form textarea,
#contact-us #form button {
    border: none;
    border-radius: 0;
    padding: 30px;
    font-weight: 200;
    color: #444;
}

#contact-us #form button {
    width: 100%;
    color: #FFF;
    background: #949494;
    text-transform: lowercase;
}

#contact-us #form button:hover {
    background: #CCC;
}

#contact-us #map iframe {
    max-height: 760px;
}

#map h2 {
    display: none;
}

#business-card {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

#business-card address {
    position: absolute;
    top: -200px;
    background: #FFF;
    padding: 40px 70px 30px 70px;
    margin: 0;
    text-align: center;
    color: #9B9B9B;
    font-weight: 200;
}

#business-card h3 {
    display: none;
}

#business-card p {
    padding-top: 20px;
}

#business-card a {
    color: #9B9B9B;
}


/*
Footer
=======================================================
*/

footer {
    font-family: 'Josefin Sans', sans-serif;
    background: #642832;
}

footer .nav-pills {
    /* flexbox to center pills */
    display: flex;
    justify-content: center;
}

footer nav ul.nav {
    margin-left: 50%;
}

footer nav ul.nav li {
    padding: 0;
}

footer nav ul.nav li a {
    color: #FFF;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 120%;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 0;
    text-align: center;
}

footer nav ul.nav li a:hover {
    background: #59232C;
}

#dev {
    background: #59232C;
    margin: 0 auto;
    padding: 20px 0;
}

#dev a {
    width: 88%;
    display: block;
    margin: 0 auto;
    font-size: 150%;
    color: rgba(255, 255, 255, 0.2);
}

#dev a:hover {
    color: #FFF;
    text-decoration: none;
}


/*
Responsive Mode (320, 768, 1024, 1200)
=======================================================
*/

@media (min-width: 1200px) {
    /* Big Screens */
    #wrapper {
        max-width: 1400px;
    }
}

@media (max-width: 992px) {
    /* Tablets */
}

@media (max-width: 768px) {
    /* Big Phones */
}

@media (max-width: 320px) {
    /* Small Phones  */
}