/* 

Title: Snowflake Boilerplate
Author: Marcelo Glacial
Author URL: http://marceloglacial.com
Starts on: 09/05/2017

*/


/* General  
=======================================================
*/

body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
    text-overflow: ellipsis;
}


/* 
Hero 
=======================================================
*/

header {
    background: url("../img/hero-bg.png") no-repeat center top #F2F2F2;
    background-size: cover;
    height: 650px;
    position: relative;
}

#logo {
    background: url("../img/logo-white.png") no-repeat top center;
    background-size: contain;
    width: 85%;
    height: 200px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}

#logo h1,
#logo p {
    display: none;
}

#services {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    min-width: 100%;
}

#services ul {
    list-style: none;
    background: #FFF;
    margin: 0 auto;
    padding: 0;
    max-width: 490px;
    box-shadow: 0px 2px 70px #666;
    font-weight: 900;
    font-size: 130%;
}

#services ul li {
    text-align: center;
    padding: 90px 0 30px 0;
}

#services .auto {
    background: url("../img/service-item-auto.png") no-repeat center 40px;
    background-size: 45px;
}

#services .home {
    background: url("../img/service-item-home.png") no-repeat center 40px;
    background-size: 55px;
}

#services .business {
    background: url("../img/service-item-business.png") no-repeat center 40px;
    background-size: 65px;
}


/* 
About Us 
=======================================================
*/

#about-us #moto {
    background: url("../img/about-us-bg.png") no-repeat center bottom;
    background-size: cover;
    height: 600px;
    position: relative;
}

#about-us article {
    text-align: center;
    width: 40%;
    font-weight: 100;
    font-size: 120%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}

#about-us h2 {
    font-weight: 700;
    font-size: 400%;
    letter-spacing: -4px;
}


/* 
Team 
=======================================================
*/

#team {
    padding: 100px 0;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

#team figure {
    position: relative;
    margin: 0 auto;
    max-width: 520px;
    height: 300px;
}

#team img {
    max-width: 260px;
    box-shadow: 0px 2px 20px #444;
}

#team figcaption {
    background: #FFF;
    z-index: 9999;
    position: absolute;
    top: 40px;
    right: 0;
    max-width: 300px;
    height: 275px;
    padding: 25px 0 0 40px;
}

#team h3 {
    font-weight: 700;
    font-size: 250%;
    letter-spacing: -3px;
}

#team p {
    font-size: 120%;
    font-weight: 200;
    line-height: 180%;
    max-height: 150px;
    overflow: hidden;
}

#team div:last-child {
    margin-top: 80px;
}


/*
Contact Us 
=======================================================
*/

#contact-us #form {
    background: url("../img/contact-bg.png") no-repeat fixed;
    background-size: cover;
}

#contact-us #form form {
    width: 90%;
    margin: 0 auto;
    padding: 130px 30px 160px 30px;
}

#contact-us #form h2 {
    color: #FFF;
    font-weight: 700;
    font-size: 400%;
    letter-spacing: -4px;
}

#contact-us #form button,
#contact-us #form textarea,
#contact-us #form input {
    width: 50%;
    padding: 30px;
    color: #999;
    font-weight: 200;
    border-radius: 0;
    border: none;
}

#contact-us #form button {
    padding: 15px;
    color: #FFF;
    background: #9B9B9B;
    text-transform: lowercase;
}

#contact-us #form button:hover {
    background: #642832;
}


/*
Responsive Mode (320, 768, 1024, 1200)
=======================================================
*/

@media (min-width: 1400px) {
    /* Big Screens */
    #wrapper {
        max-width: 1366px;
    }
}

@media (max-width: 1112px) {
    /* iPad and Pro */
    #team figure {
        width: 400px;
        height: 300px;
    }
    #team figcaption {
        width: 240px;
        height: 240px;
        font-size: 80%;
    }
    #team img {
        max-width: 200px;
    }
    #team p {
        height: 120px;
    }
}

@media (max-width: 550px) {
    /* Big Phones - Prevent landscape issue */
    header {
        background-size: 200%;
        height: 430px;
    }
    #logo {
        top: 39%;
    }
    #about-us #moto {
        height: 500px;
    }
    #about-us article {
        width: 80%;
    }
    #about-us h2 {
        letter-spacing: -10px;
    }
    #team figure {
        width: 100%;
        height: 400px;
    }
    #team figcaption {
        top: 215px;
        padding-top: 18px;
    }
    #team img {
        max-width: 100%;
    }
}

@media (max-width: 320px) {
    /* Small Phones  */
    header {
        background-size: 200%;
        height: 385px;
    }
}