/* 

Title: Snowflake Boilerplate
Author: Marcelo Glacial
Author URL: http://marceloglacial.com
Starts on: 09/05/2017

*/


/* General  
=======================================================
*/

body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-overflow: ellipsis;
}


/* 
Hero 
=======================================================
*/

header {
    background: url("../img/hero-bg.png") no-repeat center top #F2F2F2;
    background-size: cover;
    height: 650px;
    position: relative;
}

#logo {
    background: url("../img/logo-white.png") no-repeat top center;
    background-size: contain;
    width: 85%;
    height: 200px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}

#logo h1,
#logo p {
    display: none;
}

#services {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    min-width: 100%;
}

#services ul {
    list-style: none;
    background: #FFF;
    margin: 0 auto;
    padding: 0;
    max-width: 490px;
    box-shadow: 0px 2px 70px #B1B1B1;
    font-weight: 900;
    font-size: 130%;
}

#services ul li {
    text-align: center;
    padding: 90px 0 30px 0;
}

#services .auto {
    background: url("../img/service-item-auto.png") no-repeat center 40px;
    background-size: 45px;
}

#services .home {
    background: url("../img/service-item-home.png") no-repeat center 40px;
    background-size: 55px;
}

#services .business {
    background: url("../img/service-item-business.png") no-repeat center 40px;
    background-size: 65px;
}


/* 
About Us 
=======================================================
*/

#about-us .moto {
    background: url("../img/about-us-bg.png") no-repeat center bottom;
    background-size: cover;
    height: 600px;
    position: relative;
}

#about-us article {
    text-align: center;
    width: 40%;
    font-weight: 100;
    font-size: 120%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}

#about-us h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 400%;
    letter-spacing: -4px;
}


/*
Responsive Mode (320, 768, 1024, 1200)
=======================================================
*/

@media (min-width: 1400px) {
    /* Big Screens */
    #wrapper {
        max-width: 1366px;
    }
}

@media (max-width: 1024px) {
    /* iPad  */
}

@media (max-width: 550px) {
    /* Big Phones - Prevent landscape issue */
    header {
        background-size: 200%;
        height: 430px;
    }
    #logo {
        top: 39%;
    }
    #about-us article {
        width: 80%;
    }
    #about-us h2 {
        letter-spacing: -10px;
    }
}

@media (max-width: 320px) {
    /* Small Phones  */
    header {
        background-size: 200%;
        height: 385px;
    }
}