/* 

Title: Snowflake Boilerplate
Author: Marcelo Glacial
Author URL: http://marceloglacial.com
Starts on: 09/05/2017

*/


/* General  
=======================================================
*/

body {
    font-family: 'Montserrat', sans-serif;
    /* background: black;
    color: white; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-overflow: ellipsis;
}


/* 
Header 
=======================================================
*/

header {
    background: url("../img/hero-bg.png") no-repeat center;
    background-size: cover;
}

#logo {
    background: url("../img/logo-white.png") no-repeat top center;
    background-size: contain;
    width: 80%;
    min-height: 200px;
    margin: 100px auto 0 auto;
}

#logo h1,
#logo p {
    display: none;
}


/*
Responsive Mode (320, 768, 1024, 1200)
=======================================================
*/

@media (min-width: 1400px) {
    /* Big Screens */
    #wrapper {
        max-width: 1400px;
    }
}

@media (max-width: 1112px) {
    /* iPad Pro */
}

@media (max-width: 768px) {
    /* Big Phones */
}

@media (max-width: 320px) {
    /* Small Phones  */
}