// Title: Sylvia F. Costa Website
// Author: Marcelo Glacial
// Author URL: http: //sfcostains.com
// Starts on: 11/29/2017

// Global  
// =======================================================

body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: $main-font;
    color: $semi-grey;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $secondary-font;
    text-overflow: ellipsis;
    color: $black;
    margin: 0;
    padding-bottom: 2vw;
}

h2,
h3 {
    font-weight: 700;
    font-size: 4vw;
    letter-spacing: -2px;
    padding-bottom: 20px;

    @include responsive($tablet) {
        font-size: 40px;
    }
}

p {
    font-weight: 300;
    font-size: 1.2vw;
    color: $grey;
    line-height: 2.1vw;
    padding-bottom: 1.5vw;
    display: inline-block;
    margin: 0;

    @include responsive($tablet) {
        font-size: 16px;
        line-height: 32px;
        padding-bottom: 32px;
    }
}

img {
    width: 100%;
    height: auto;
}

header,
section {
    min-height: 800px;

    @include responsive($tablet-landscape) {
        min-height: unset;
    }

}

#wrapper {
    display: flex;
    flex-direction: column;
}

// Hero 
// =======================================================

header {
    background: url("../img/hero-bg.png") no-repeat bottom center;
    background-size: cover;
    background-color: $light-white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85vh;

    @include responsive($tablet) {
        min-height: unset;
        height: 45vh;
    }


    #logo {
        background: url("../img/logo-white.png") no-repeat top center;
        background-size: contain;
        width: 90%;
        height: 250px;
        margin-bottom: 100px;

        @include responsive($tablet) {
            margin-bottom: 20px;
            height: 100px;
        }

        h1,
        p {
            display: none;
        }
    }

    #services {
        position: absolute;
        bottom: 0;
        z-index: 10;
        width: 600px;

        @include responsive($tablet) {
            display: none;
        }


        ul {
            list-style: none;
            background: $white;
            margin: 0 auto;
            padding: 0;
            box-shadow: 0px 2px 70px $grey;
            font-weight: 900;
            font-size: 130%;
            display: flex;

            li {
                text-align: center;
                height: 150px;
                width: 33.33%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                position: relative;

                a {
                    text-decoration: none;
                    color: $black;
                    padding-bottom: 30px;

                    &:hover {
                        text-decoration: none;
                        color: $black;
                        cursor: default;
                    }
                }

                &.auto {
                    background: url("../img/service-item-auto.png") no-repeat center 40px;
                    background-size: 45px;
                }

                &.home {
                    background: url("../img/service-item-home.png") no-repeat center 40px;
                    background-size: 55px;
                }

                &.business {
                    background: url("../img/service-item-business.png") no-repeat center 40px;
                    background-size: 65px;
                }

                &:not(:last-child):after {
                    display: block;
                    content: '';
                    background: $light-white;
                    width: 3px;
                    height: 60px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

// About Us 
// =======================================================

#about-us {
    background: url("../img/about-us-bg.png") no-repeat center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    article {
        height: 85vh;
        padding: 15vh 0 0 0;
        width: 50%;
        text-align: justify;

        @include responsive($tablet) {
            height: unset;
            padding: 30px 0 120px 0;
            width: calc(100% - 40px);
            text-align: center;
        }

        h2,
        h3 {
            text-align: center;
        }
    }
}

// Our Mission
// =======================================================

#mission {
    article {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;

        @include responsive($tablet) {
            text-align: center;
            width: calc(100% - 40px);
            height: unset;
            padding-bottom: 50px;
        }

    }
}


// Contact Us
// =======================================================

#contact-us {
    background: url("../img/contact-bg.png") no-repeat top right;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include responsive($tablet) {
        height: unset;
        padding: 20px 0;
    }

    #form {
        width: 80%;

        @include responsive($tablet) {
            width: calc(100% - 40px);
        }

        h2 {
            margin-top: 0;
            color: $white;
        }

        label {
            display: none;
        }

        input,
        textarea,
        button {
            border: none;
            border-radius: 0;
            padding: 30px;
            width: calc(50% - 60px);
            margin-bottom: 20px;
            font-weight: 300;
            color: $grey;
            font-size: 16px;
            outline: none;

            @include responsive($tablet) {
                width: calc(100% - 30px);
                padding: 15px;
            }
        }

        button {
            color: $white;
            background: $almost-white;
            text-transform: lowercase;
            padding: 20px;
            width: 50%;

            @include responsive($tablet) {
                width: 100%;
                padding: 15px;
            }


            &:hover {
                background: $pure-grey;
            }
        }
    }

}

// Map
// =======================================================

#map {
    height: 50vh;
    position: relative;

    h2 {
        display: none;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: none;
        margin: 0;
        padding: 0;
    }

    &.off {
        iframe {
            pointer-events: none;
        }
    }
}

// Business Card
// =======================================================

#business-card {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    height: 0;
    min-height: unset;

    @include responsive($tablet) {
        max-width: unset;
        height: unset;
    }

    address {
        position: absolute;
        bottom: -80px;
        width: calc(50% - 40px);
        background: $white;
        padding: 40px 20px;
        text-align: center;

        @include responsive($tablet) {
            position: unset;
            bottom: unset;
            width: calc(100% - 40px);
        }

        img {
            padding-bottom: 20px;
            max-width: 80%;

            @include responsive($tablet) {
                max-width: calc(100% - 20px);
            }
        }

        strong {
            display: none;
        }

        p,
        span,
        a {
            font-size: 16px;
            font-style: normal;
            color: $grey;
            text-decoration: none;
            padding: 0;
            margin: 0;
            line-height: 1.5vw;

            @include responsive($tablet) {
                font-size: 13px;
                line-height: 20px;
            }
        }

        a:hover {
            text-decoration: underline;
        }

    }
}


// Footer
// =======================================================

footer {
    background: $light-red;

    a {
        color: $white;
        font-family: $secondary-font;
        text-decoration: none;
        text-transform: lowercase;
        font-size: 1.1vw;

        @include responsive($tablet) {
            font-size: 16px;
        }
    }

    ul {
        display: flex;
        list-style: none;
        width: 50%;
        background: $light-red;
        padding: 0 0 0 50%;
        margin: 0;

        @include responsive($tablet) {
            width: 100%;
            padding: 0;
        }

        li {
            width: 33.33%;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80px;

                &:hover {
                    text-decoration: none;
                    background: $red;
                }
            }
        }
    }

    #dev {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        background: $red;

        a {
            display: inline-block;
            font-size: 1.5vw;
            width: 80%;
            opacity: .3;

            @include responsive($tablet) {
                font-size: 16px;
                text-align: center;
                opacity: .4;
            }

            &:hover {
                opacity: 1;
                text-decoration: none;
            }
        }
    }
}