// Screen size variables
$xs: 450px;   // iPhone 5
$sm: 600px;   // iPhone 6 to X
$md: 850px;   // iPad Portrait
$lg: 1279px;  // iPad Landscape
$xl: 1900px;  // (above) Large screens

// Mixins
@mixin xs { @media (max-width: #{$xs}) {@content;} } 
@mixin sm { @media (max-width: #{$sm}) {@content;} } 
@mixin md { @media (max-width: #{$md}) {@content;} } 
@mixin lg { @media (max-width: #{$lg}) {@content;} } 
@mixin xl { @media (min-width: #{$xl}) {@content;} } 
